:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

body {
  background-color: var(--light);
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  background-color: inherit;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
	filter: brightness(90%);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
}

.contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.2);
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  background-color: var(--dark);
  color: var(--light);
  overflow: hidden;
}

/* History and About */
.history, .about {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--light);
  color: var(--dark);
  align-self: stretch;
}

.history .head, 
.about .head {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
  background-color: var(--dark);
  color: var(--light);
  padding: 16px;
}

.history .head button,
.about .head button {
  font-size: 14px;
  padding: 0;
}

.history .head h3,
.about .head h3 {
  font-size: 16px;
  flex-grow: 2;
}

.history .head p {
  cursor: pointer;
}

.history .main, 
.about .main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 16px;
  max-height: 450px;
  overflow: auto;
}

.history.open,
.about.open {
  display: block;
}

.history.closed,
.about.closed {
  display: none;
}

.about a {
  text-decoration: none;
  color: var(--secondary);
}

.about .footer {
  padding-top: 20px;
}

.date-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid var(--dark);
}

.date-group .date {
  align-self: flex-start;
  font-style: italic;
  color: var(--primary);
  font-weight: 700;
}

.expression-result {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
}

.expression-result p {
  align-self: flex-end;
}

.expression-result .result::before {
  content: '> ';
}

/* Top */
.top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  align-items: center;
  padding-left: 15px;
}

.top h3 {
  flex-grow: 2;
}

.top button {
  padding: 0px;

}

#topConverter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-grow: 2;
}

/* Default */
.default.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: inherit;
  color: inherit;
}

.default.inactive {
  display: none;
}

#menu {
  background: inherit;
}

#long-button {
  color: inherit;
  padding: 10px;
}

#long-menu {
  font-family: inherit;
}

.display {
  padding: 10px 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
  height: 75px;
}

.display p {
  color: #888;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  margin: 0;
}

.scientific {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.scientific button:hover {
  background-color: var(--secondary);
}

.toggleButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.toggleButtons button {
  flex: 2 1 auto;
}

.functions {
  display: flex;
  flex-wrap: wrap;
}

.functions button {
  flex: 1 2 25%;  
}

.standard {
  display: flex;
}

.standard #del {
  padding: 0;
}

.operators {
  display: flex;
  flex: 1 1 30%;
  flex-wrap: wrap;
  background-color: var(--secondary);
}

.operators.active {
  pointer-events: all;
}

.operators.inactive {
  pointer-events: none;
}

.operators button {
  flex: 1 1 33.334%;
  font-weight: 700;
}

.digits {
  display: flex;
  flex: 1 1 70%;
  flex-wrap: wrap;
  background-color: var(--primary);
}

.digits button {
  flex: 1 1 33.334%;
}

/* Converter */
.converter.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background-color: var(--light);
  color: var(--dark);
  padding: 15px;
}

.converter.inactive {
  display: none;
}

.from, .to {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.from .combo-box,
.to .combo-box {
  flex-grow: 3;
}

@media only screen and (max-width: 400px) {
  .contents {
    flex-direction: column;
  }

  .history, 
  .about {
    width: 100%;
  }
}
